<div style="overflow-x: hidden;" class="modal fade" id="my-modal-{{ value }}-detalles" tabindex="-1" role="dialog"
     aria-labelledby="myModalLabel"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title">Detalles "{{ value | trans }}"</h4>
            </div>
            <div id="modal-body-lugar-detalles" class="modal-body-{{ value }}-detalles">
                Cargando detalles "{{ value | trans }}"...
            </div>
            <div class="modal-footer">
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>