<div style="overflow-x: hidden; width: 700px; margin-left: -350px;" id="my-modal-{{ value }}-detalles" class="modal large hide fade">
    <div class="modal-header">
        <a class="close" data-dismiss="modal">×</a>
        <h3>Detalles del {{ value }}</h3>
    </div>
    <div id="modal-body-lugar-detalles" class="modal-body-{{ value }}-detalles">
        Cargando detalles del {{ value }}...
    </div>
</div>