{# macro para algunos div de los mensajes boxs#}
{% macro macro_delete_div() %}
<div style="display: none;z-index: 1000">
    <div id="dialog-confirm-delete" title="Eliminar">
        <p><span class="ui-icon ui-glyphicon-alert" style="float:left; margin:0 7px 20px 0;"></span>¿Deseas eliminar este registro?</p>
    </div>
</div>
{% endmacro %}